In [9]:
import pandas as pd

%load_ext autoreload
%autoreload 2

import sys
import os
sys.path.append(os.path.abspath('..'))
from category_encoder_comparison import titanic_experiment

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [40]:
titanic_experiment({
    'category_encoding': 'empyrical_bayes_vibrant'
})

In [41]:
stats = pd.read_json('titanic.json').sort_values('score-mean')
stats.T[stats.nunique() > 1].T

         category_encoding exec-time-sec score-mean  score-std
3  empyrical_bayes_vibrant       2.04532   0.866682  0.0178235
0                   onehot      0.687949    0.86683    0.02215
2          empyrical_bayes      0.989245   0.867268  0.0264805
1                    count      0.504651   0.867574  0.0229623